<div class="section">
  <div class="container">
    <div class="button-container">
      <button class="btn btn-default btn-round btn-lg btn-icon" (click)="this.navigate('ordo')" rel="tooltip" title="Ordo" [routerLink]="'ordo'">
        <fa-icon [icon]="faCalendar" size="lg"/>
      </button>
      <button class="btn btn-default btn-round btn-lg btn-icon" (click)="this.navigate('prayer')" rel="tooltip" title="Prayer" [routerLink]="'prayers'">
        <fa-icon [icon]="faPray" size="lg"/>
      </button>
      <button class="btn btn-default btn-round btn-lg btn-icon" (click)="this.navigate('settings')" rel="tooltip" title="Settings" [routerLink]="'settings'">
        <fa-icon [icon]="faCog" size="lg"/>
      </button>
    </div>
  </div>
</div>