<div class="container-fluid card d-flex pt-2" id="about">
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <div class="card-body">
        <h4 class="mt-0">About</h4>
        <p>
          <em>“If you want a church full of Catholics who know their faith, love their faith and practice their faith, give them a liturgy that is demanding, profound and rigourous. They will rise to the challenge.”<br>— Peter Kwasniewski</em>
        </p>
        <p>
          A Traditional Catholic Liturgical Calendar for the Holy Sacrifice of the Mass according to the 1962 Missale Romanum. This app is designed for easy accessibility and increased awareness of the Traditional Mass. Features include:
        </p>
        <ul>
          <li>iOS, watchOS & Widget Support</li>
          <li>Liturgical Ordo</li>
          <li>Prayers</li>
          <li>Propers of the Mass</li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="card-body">
        <h4 class="mt-0">Information</h4>
        <p>
          <strong>Support Email:</strong>&nbsp;
          <a href="mailto:ordo62@matthewfrankland.co.uk">ordo62&#64;matthewfrankland.co.uk</a>
        </p>
        <p>
          <strong>Supported Language:</strong>
          English, Latin (Propers Only)
        </p>
      </div>
    </div>
  </div>
</div>