node_modules
.angular
vendor
dist
keystore.jks

android

*.xcworkspace
*.xcuserstate
*.xcuserdata
*.xcodeproj
Pods
DerivedData
build
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside
*.xcbackups
*.xcscmblueprint

.DS_Store
Thumbs.db

!app/android