<ion-content overflow-scroll="true">
  <app-ordo-header />
  <div style="text-align: center; padding-top: 70px;">
    @if ( this.loading ) {
      <ion-spinner></ion-spinner>
      <p style="padding-top: 20px;">Loading...</p>
    } @else if ( this.error ) {
      <p>Prayers could not be fetched.</p>
    } @else {
      <div class="btn-group" style="gap: 20px; display: flex; justify-content: center;">
        <ion-select [value]="language" (ionChange)="UpdateLanguage($event)" style="width: auto;">
          @for ( index of this.languages; track index ) {
            <ion-select-option value="{{index}}">{{index}}</ion-select-option>
          }
        </ion-select>
      </div>
      <div style="display: inline-block; text-align: center;">
        @for ( category of GetKeys(this.prayers[this.language]); track category ) {
          <div class="card" style="width: 18rem; margin: 20px; vertical-align: top;">
            <div class="card-header">
              {{category}}
            </div>
            <ul class="list-group list-group-flush">
              @for ( prayer of GetKeys(this.prayers[this.language][category]); track prayer ) {
                <li class="list-group-item">
                  <a style="text-decoration: none;" href="javascript:void(0)" (click)="OpenPrayer(prayer, this.prayers[this.language][category][prayer])">
                    {{prayer}}
                  </a>
                </li>
              }
            </ul>
          </div>
        }
      </div>
    }
  </div>
</ion-content>