.dot {
  height: 17px;
  width: 17px;
  background-color: #bbb;
  border-radius: 50%;
  border: 2px solid black;
  display: inline-block;
}
.scroll-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  padding: 0;
  transition: all .2s ease-in-out;
}
.show-scrollTop {
  opacity: 1;
  transition: all .2s ease-in-out;
}
.info {
  position: fixed;
  bottom: 15px;
  left: 15px;
  opacity: 0;
  padding: 0;
  transition: all .2s ease-in-out;
}
.show-info {
  opacity: 1;
  transition: all .2s ease-in-out;
}