@if ( this.loading ) {
  <div style="text-align: center; padding-top: 70px; font-style: italic;">
    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
          <span class="sr-only" id="loading"></span>
      </div>
    </div>
    <br />
    Loading...
  </div>
} @else if ( this.error ) {
  <div style="text-align: center; padding-top: 70px; font-style: italic;">
    Ordo could not be fetched.
  </div>
} @else if ( !this.loading && !this.error ) {
  <div>
    <div style="text-align: center; padding-top: 70px; font-style: italic;">
      <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" style="font-size: large; font-weight: bold;" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
          {{this.language}}
        </button>
        <ul class="dropdown-menu">
          @for ( index of this.languages; track index ) {
            <li>
              <button class="dropdown-item" type="button" (click)="this.UpdateLanguage(index.toString())">
                <span>
                  {{index}}
                  @if ( this.language === index.toString() ) {
                    &nbsp;<fa-icon [icon]="this.faCheck" size="lg" />
                  }
                </span>
              </button>
            </li>
          }
        </ul>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" style="font-size: large; font-weight: bold;" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
          {{this.year}}
        </button>
        <ul class="dropdown-menu">
          @for ( index of YearRange(); track index ) {
            <li>
              <button class="dropdown-item" type="button" (click)="this.UpdateYear(index.toString())">
                <span>
                  {{index}}
                  @if ( this.year === index.toString() ) {
                    &nbsp;<fa-icon [icon]="this.faCheck" size="lg" />
                  }
                </span>
              </button>
            </li>
          }
        </ul>
      </div>
      <div style="margin: 30px;">
        @for ( month of months; track month ) {
          <span>
            <a href="javascript:void(0)" (click)="GoTo(month.substring(0,3))" class="link-primary" style="text-decoration: none; margin: 5; font-size: large;">{{month}}</a>
            @if ( month != "December" ) {
              &nbsp;&nbsp;
            }
          </span>
        }
      </div>
    </div>
    @for ( month of this.ordo [ this.year ]; track month ) {
      <div class="section" id="{{month [ 0 ].date.month}}" [style.padding-top]="(month [ 0 ].date.month=='Jan') ? 0 : 30">
        <div class="container">
          @for ( day of month; track day ) {
            <div class="card mb-3" style="cursor: pointer; border: 1px solid var(--bs-emphasis-color);">
              <div class="row g-0 rounded-2">
                <div class="col-md-4">
                  <div class="img-fluid h-100 h2 date-field" [class.today]="isToday ( day.date )" id="{{isToday ( day.date ) ? 'today' : ''}}">
                    <div class="h-100" style="display: flex; justify-content: center; align-items: center; color: white; font-weight: bold;">
                      <p style="text-align: center; margin: 0;">{{day.date.weekday}} {{day.date.day}}<br />{{day.date.month}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-7" (click)="OpenPropers(day.celebrations)">
                  <div class="card-body">
                    @for ( celeb of day.celebrations; track celeb ) {
                      <div>
                        <div style="display: flex; align-items: baseline;">
                          <h5 class="card-title">
                            <strong>
                              {{celeb.title}}&nbsp;
                              <span class="dot" [style.color]="this.getForegroundColor(celeb.colors)" [style.background-color]="this.translateColor(celeb.colors)"></span>
                            </strong>
                          </h5>
                        </div>
                        @for ( commem of celeb.commemorations; track commem ) {
                          <div style="display: flex;  align-items: baseline;">
                            <h5 class="card-title" style="font-size: 13px">
                              <strong>
                                {{commem.title}}&nbsp;
                              </strong>
                            </h5>
                            <span class="dot" [style.color]="this.getForegroundColor(commem.colors)" [style.background-color]="this.translateColor(commem.colors)"></span>
                          </div>
                        }
                      </div>
                      <p class="card-text" style="white-space: pre-wrap;">Class {{celeb.rank}}</p>
                      <p class="card-text" style="white-space: pre-wrap;">{{celeb.options}}</p>
                    }
                    <span class="badge card-text" [style.background-color]="this.translateColor(day.season.colors)" [style.color]="this.getForegroundColor(day.season.colors)">{{day.season.title}}</span>
                  </div>
                </div>
                <a class="btn btn-primary ng-flex justify-content-center align-items-center m-0" style="margin-bottom: 0px; background-color: var(--bs-primary);" href="javascript:void(0)" (click)="OpenPropers(day.celebrations)">
                  Open Propers
                </a>
              </div>
            </div>
          }
        </div>
      </div>
    }
  </div>
  @if ( this.windowScrolled ) {
    <div class="scroll-to-top">
      <button type="button" class="btn btn-danger" data-toggle="button" aria-pressed="true" (click)="scrollToTop()">
        <fa-icon [icon]="faArrow" />
      </button>
    </div>
    <div class="scroll-to-today">
      <button type="button" class="btn btn-danger" data-toggle="button" aria-pressed="true" (click)="this.GoTo('today')">
        Go To Today
      </button>
    </div>
  }
}