<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>1962 Ordo</title>
<link rel="icon" type="image/x-icon" href="assets/favicon.ico">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
<noscript>
  <style type="text/css">
    [data-aos] {
        opacity: 1 !important;
        transform: translate(0) scale(1) !important;
    }
  </style>
</noscript>
<header>
  <div class="profile-page sidebar-collapse">
    <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
      <div class="container">
        <div class="navbar-translate">
          <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
          </button>
        </div>
      </div>
    </nav>
  </div>
</header>
<div class="page-content">
  <div>
    <div class="profile-page">
      <div class="wrapper">
        <div class="page-header page-header-small" filter-color="green">
          <div class="page-header-image" style="background-image: url('../assets/cc-bg-1.jpg')"></div>
          <div class="container">
            <div class="content-center">
              <div class="cc-profile-image">
                <a href="#"><img src="../assets/logo.jpg" alt="Image"/></a>
              </div>
              <div class="h2 title">1962 Liturgical Ordo</div>
            </div>
          </div>
          <div class="section">
            <div class="container">
              <div class="button-container">
                <button class="btn btn-default btn-round btn-lg btn-icon" (click)="this.navigate('ordo')" rel="tooltip" title="Ordo">
                  <fa-icon [icon]="faCalendar" size="lg"/>
                </button>
                <button class="btn btn-default btn-round btn-lg btn-icon" (click)="this.navigate('prayer')" rel="tooltip" title="Prayer">
                  <fa-icon [icon]="faPray" size="lg"/>
                </button>
                <button class="btn btn-default btn-round btn-lg btn-icon" (click)="this.navigate('settings')" rel="tooltip" title="Settings">
                  <fa-icon [icon]="faCog" size="lg"/>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section" id="jan">
      <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <div class="card-body">
                <div class="h4 mt-0 title">January</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section" id="feb">
      <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
          <div class="row">
            <div class="col-lg-12">
              <div class="card-body">
                <div class="h4 mt-0 title">February</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section" id="mar">
      <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
          <div class="row">
            <div class="col-lg-12">
              <div class="card-body">
                <div class="h4 mt-0 title">March</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section" id="apr">
      <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
          <div class="row">
            <div class="col-lg-12">
              <div class="card-body">
                <div class="h4 mt-0 title">April</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section" id="may">
      <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
          <div class="row">
            <div class="col-lg-12">
              <div class="card-body">
                <div class="h4 mt-0 title">May</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section" id="jun">
      <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
          <div class="row">
            <div class="col-lg-12">
              <div class="card-body">
                <div class="h4 mt-0 title">June</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section" id="jul">
      <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
          <div class="row">
            <div class="col-lg-12">
              <div class="card-body">
                <div class="h4 mt-0 title">July</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section" id="aug">
      <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
          <div class="row">
            <div class="col-lg-12">
              <div class="card-body">
                <div class="h4 mt-0 title">August</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section" id="sep">
      <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
          <div class="row">
            <div class="col-lg-12">
              <div class="card-body">
                <div class="h4 mt-0 title">September</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section" id="oct">
      <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
          <div class="row">
            <div class="col-lg-12">
              <div class="card-body">
                <div class="h4 mt-0 title">October</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section" id="nov">
      <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
          <div class="row">
            <div class="col-lg-12">
              <div class="card-body">
                <div class="h4 mt-0 title">November</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section" id="dec">
      <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
          <div class="row">
            <div class="col-lg-12">
              <div class="card-body">
                <div class="h4 mt-0 title">December</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>