@if ( this.loading ) {
  <div style="text-align: center; padding-top: 70px; font-style: italic;">
    <div class="d-flex justify-content-center"> 
      <div class="spinner-border" role="status"> 
          <span class="sr-only" id="loading"></span>
      </div>
    </div>
    <br />
    Loading...
  </div>
}
@if ( this.error ) {
  <div style="text-align: center; padding-top: 70px; font-style: italic;">
    {{this.last_err}}
  </div>
}
@if ( GetKeys(this.prayers[this.language]).length > 0 ) {
  <div>
    <div style="text-align: center; padding-top: 70px; padding-bottom: 40px; font-style: italic;">
      <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" style="font-size: large; font-weight: bold;" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
          Language: {{this.language}}
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          @for ( index of this.languages; track index ) {
            <li>
              <button class="dropdown-item" type="button" (click)="this.UpdateLanguage(index.toString())">
                <span>
                  {{index}}
                  @if ( this.language === index.toString() ) {
                    &nbsp;<fa-icon [icon]="this.faCheck" size="lg" />
                  }
                </span>
              </button>
            </li>
          }
        </ul>
      </div>
    </div>
    <div style="display: inline-block; text-align: center;">
      @for ( category of GetKeys(this.prayers[this.language]); track category ) {
        <div class="card" style="width: 18rem; margin: 20px; vertical-align: top;">
          <div class="card-header">
            {{category}}
          </div>
          <ul class="list-group list-group-flush">
            @for ( prayer of GetKeys(this.prayers[this.language][category]); track prayer ) {
              <li class="list-group-item"><a style="text-decoration: none;" href="javascript:void(0)" (click)="OpenPrayer(prayer, this.prayers[this.language][category][prayer])">{{prayer}}</a></li>
            }
          </ul>
        </div>
      }
    </div>
  </div>
}