<ion-content overflow-scroll="true">
  <app-ordo-header [index]="2" />
  <div style="padding-top: 70px; text-align: center;">
    @if ( this.loading ) {
      <ion-spinner />
      <p style="padding-top: 20px;">Loading...</p>
    } @else if ( this.error ) {
      <p>Votive Masses could not be fetched.</p>
    } @else {
      <div>
        <div style="text-align: center;">
          <div class="btn-group" style="gap: 20px; display: flex; justify-content: center;">
            <ion-select [ngModel]="option" (ionChange)="UpdateOption($event)" style="width: auto;">
              @for ( index of this.options; track index ) {
                <ion-select-option value="{{index}}">{{index}}</ion-select-option>
              }
            </ion-select>
            @if ( this.option === "Votive Masses" ) {
              <ion-select [value]="language" (ionChange)="UpdateLanguage($event)" style="width: auto;">
                @for ( index of this.languages; track index ) {
                  <ion-select-option value="{{index}}">{{index}}</ion-select-option>
                }
              </ion-select>
            }
          </div>
          @if ( this.option === "Information on the Ordo" ) {
            <div class="card" style="width: 18rem; margin: 20px; vertical-align: top;">
              <div class="card-header">User Information</div>
              <ul class="list-group">
                @for ( detail of getKeys ( this.details ); track detail ) {
                  <li class="list-group-item">
                    <a href="javascript:void(0);" style="text-decoration: none;" (click)="OpenText ( detail, this.details [ detail ] )">
                      {{detail}}
                    </a>
                  </li>
                }
              </ul>
            </div>
            <div class="card" style="width: 18rem; margin: 20px; vertical-align: top;">
              <div class="card-header">Ordo Locale</div>
              <ul class="list-group">
                <li class="list-group-item">
                  <button style="text-decoration: none; background-color: transparent; color: #378c3f;" routerLink="/locale">
                    In Certain Locations
                  </button>
                </li>
                @for ( detail of this.locale.feasts.countries; track detail ) {
                  <li class="list-group-item">
                    <button style="text-decoration: none; background-color: transparent; color: #378c3f;" [routerLink]="'/locale/' + detail">
                      {{detail}}
                    </button>
                  </li>
                }
              </ul>
            </div>
          }
          @if ( this.option === "Votive Masses" ) {
            <div class="card" style="width: 18rem; margin: 20px; vertical-align: top;">
              <div class="card-header">Votive Masses Of Particular Piety</div>
              <ul class="list-group">
              @for ( detail of this.votives_of_piety; track detail ) {
                <li class="list-group-item">
                  <a href="javascript:void(0);" style="text-decoration: none;" (click)="OpenPropers ( this.votives_of_piety, detail.title )">
                    {{detail.title}}
                  </a>
                </li>
              }
              </ul>
              <div class="card-footer">For use during First Thursday; Friday; or Saturday Devotions</div>
            </div>
            <div class="card" style="width: 18rem; margin: 20px; vertical-align: top;">
              <div class="card-header">The Most Fitting Votive Masses for Particular Days of the Week</div>
              <ul class="list-group">
                @for ( detail of this.votives_monday; track detail ) {
                  <li class="list-group-item">
                    <a href="javascript:void(0);" style="text-decoration: none;" (click)="OpenPropers ( this.votives_monday, detail.title )">
                      {{detail.title}}
                    </a>
                  </li>
                }
                <div class="card-footer">Monday</div>
                @for ( detail of this.votives_tuesday; track detail ) {
                  <li class="list-group-item">
                    <a href="javascript:void(0);" style="text-decoration: none;" (click)="OpenPropers ( this.votives_tuesday, detail.title )">
                      {{detail.title}}
                    </a>
                  </li>
                }
                <div class="card-footer">Tuesday</div>
                @for ( detail of this.votives_wednesday; track detail ) {
                  <li class="list-group-item">
                    <a href="javascript:void(0);" style="text-decoration: none;" (click)="OpenPropers ( this.votives_wednesday, detail.title )">
                      {{detail.title}}
                    </a>
                  </li>
                }
                <div class="card-footer">Wednesday</div>
                @for ( detail of this.votives_thursday; track detail ) {
                  <li class="list-group-item">
                    <a href="javascript:void(0);" style="text-decoration: none;" (click)="OpenPropers ( this.votives_thursday, detail.title )">
                      {{detail.title}}
                    </a>
                  </li>
                }
                <div class="card-footer">Thursday</div>
                @for ( detail of this.votives_friday; track detail ) {
                  <li class="list-group-item">
                    <a href="javascript:void(0);" style="text-decoration: none;" (click)="OpenPropers ( this.votives_friday, detail.title )">
                      {{detail.title}}
                    </a>
                  </li>
                }
                <div class="card-footer">Friday</div>
              </ul>
            </div>
            <div class="card" style="width: 18rem; margin: 20px; vertical-align: top;">
              <div class="card-header">Votive Masses Of Our Lady</div>
              <ul class="list-group">
              @for ( detail of this.votives_our_lady; track detail ) {
                  <li class="list-group-item">
                    <a href="javascript:void(0);" style="text-decoration: none;" (click)="OpenPropers ( this.votives_our_lady, detail.title )">
                      {{detail.title}}
                    </a>
                  </li>
                }
              </ul>
              <div class="card-footer">Saturday</div>
            </div>
            <div class="card" style="width: 18rem; margin: 20px; vertical-align: top;">
              <div class="card-header">Other Votive Masses</div>
              <ul class="list-group">
              @for ( detail of this.other_votives; track detail ) {
                  <li class="list-group-item">
                    <a href="javascript:void(0);" style="text-decoration: none;" (click)="OpenPropers ( this.other_votives, detail.title )">
                      {{detail.title}}
                    </a>
                  </li>
                }
              </ul>
              <div class="card-footer">Not Exhaustive</div>
            </div>
          }
        </div>
      </div>
    }
  </div>
</ion-content>