<ion-content overflow-scroll="true" [scrollEvents]="true" (ionScroll)="detectScroll($event)">
  <app-ordo-header [index]="2" id="top-locale" />
  <div style="padding-top: 70px; text-align: center;">
    @if ( this.loading ) {
      <ion-spinner />
      <p style="padding-top: 20px;">Loading...</p>
    } @else if ( this.error ) {
      <p>Locale could not be fetched.</p>
    } @else {
      <div style="font-style: italic;">
        @if ( this.inCertainLocations.length > 0 ) {
          <h3>Feasts In Certain Locations</h3>
          <div class="container">
            @for ( day of this.inCertainLocations; track day ) {
              <div style="width: 100%;">
                <caption style="display: flex;">All Dioceses</caption>
              </div>
              <app-locale-row [title]="day.title" [colors]="day.colors" [date]="day.date" />
            }
          </div>
        } @else {
          <h3>{{this.country}}</h3>
          @for ( diocese of this.locale.dioceses; track this.locale.dioceses ) {
            <div class="container">
              <div style="width: 100%;">
                <caption style="display: flex;">{{diocese}}</caption>
              </div>
              @for ( day of this.locale.locale [ diocese ]; track day ) {
                <app-locale-row [title]="day.title" [colors]="day.colors" [date]="day.date" />
              }
            </div>
          }
        }
      </div>
      <div style="position: fixed; bottom: 15px; right: 15px; padding: 0; overflow-x: scroll; overflow-y: hidden; z-index: 1000;">
        <ion-button (click)="this.GoBack ( )" class="go-back">
          <fa-icon [icon]="faBack" />&nbsp;Go Back
        </ion-button>
        @if ( this.scrolled ) {
          <ion-button (click)="this.GoTo ( '#top-locale' )" class="scroll-to-top">
            <fa-icon [icon]="faArrow" />
          </ion-button>
        }
      </div>
    }
  </div>
</ion-content>