<ion-content overflow-scroll="true" [scrollEvents]="true" (ionScroll)="detectScroll($event)">
  <app-ordo-header id="top-locale" />
  <div style="padding-top: 70px; text-align: center;">
    @if ( this.loading ) {
      <ion-spinner />
      <p style="padding-top: 20px;">Loading...</p>
    } @else if ( this.error ) {
      <p>Locale could not be fetched.</p>
    } @else {
      <div style="font-style: italic;">
        @if ( this.in_certain_locations.length > 0 ) {
          <div class="container">
            @for ( day of this.in_certain_locations; track day ) {
              <app-locale-row [title]="day.title" [colors]="day.colors" [date]="day.date" />
            }
          </div>
        } @else {
          @for ( diocese of this.locale.dioceses; track this.locale.dioceses ) {
            <div class="container">
              <div style="width: 100%;">
                <caption style="display: flex;">{{diocese}}</caption>
              </div>
              @for ( day of this.locale.locale [ diocese ]; track day ) {
                <app-locale-row [title]="day.title" [colors]="day.colors" [date]="day.date" />
              }
            </div>
          }
        }
      </div>
      @if ( this.scrolled ) {
        <ion-button (click)="this.GoBack ( )" class="go-back">
          <fa-icon [icon]="faBack" />&nbsp;Go Back
        </ion-button>
        <ion-button (click)="this.GoTo ( '#top-locale' )" class="scroll-to-top">
          <fa-icon [icon]="faArrow" />
        </ion-button>
      }
    }
  </div>
</ion-content>