<div class="page-content">
  <div class="profile-page">
    <div class="wrapper">
      <div class="page-header page-header-small" filter-color="green">
        <div class="page-header-image" style="background-image: url('/assets/cc-bg-1.webp');"></div>
        <div class="container">
          <div class="content-center">
            <div class="cc-profile-image">
              <a href="#"><img src="../../assets/logo.jpg" alt="Image"/></a>
            </div>
            <div class="h2 title">1962 Liturgical Ordo</div>
          </div>
        </div>
        <app-ordo-tabbar [index]="index()" />
      </div>
    </div>
  </div>
</div>