<div class="header-component">
  <div class="page-header page-header-small" filter-color="green">
    <div class="page-header-image"></div>
    <div class="container">
      <div class="content-center">
        <div class="profile-image">
          <a href="/">
            <img src="logo.jpg" alt="Profile Image"/>
          </a>
        </div>
        <h2 class="title">Liturgical Ordo</h2>
        <p>1962 Missale Romanum</p>
        <div class="d-flex justify-content-center gap-2 flex-wrap">
          <a href="https://apps.apple.com/gb/app/1962-liturgical-ordo/id6450934181" target="_blank" class="btn btn-md apple-link" ngbTooltip="Download on the App Store" placement="top">
            <fa-icon [icon]="iconSvc.getIcon('fab', 'apple')" class="text-white" size="2x" />
          </a>
          <a href="http://play.google.com/store/apps/details?id=com.mfrankland.ordo_1962" target="_blank" class="btn btn-md android-link" ngbTooltip="Download on Google Play" placement="top">
            <fa-icon [icon]="iconSvc.getIcon('fab', 'android')" class="text-white" size="2x" />
          </a>
          <a href="https://github.com/m-f-1998/" target="_blank" class="btn btn-md github-link" ngbTooltip="Follow me on GitHub" placement="top">
            <fa-icon [icon]="iconSvc.getIcon('fab', 'github')" class="text-white" size="2x" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>