html {
  scroll-behavior: smooth;
}
input {
  text-align: center;
}
input:first-child {
  border-radius: 3px 0 0 3px;
}
input:last-child {
  border-radius: 0 3px 3px 0;
}
.btn-danger {
  background-color: #ff3636;
  color: #ffffff;
}
.btn:disabled,
.btn[disabled],
.btn.disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
}
.input-group-btn .btn {
  border-width: 1px;
  padding: 11px 0.7rem;
}
.input-group-btn .btn-default:not(.btn-fill) {
  border-color: #dddddd;
}
.input-group-btn:last-child > .btn {
  margin-left: 0;
}
.checkbox label,
.radio label {
  cursor: pointer;
  display: inline-block;
  line-height: 26px;
  margin-bottom: 0;
  padding-left: 35px;
  position: relative;
}
.radio label {
  padding-left: 28px;
}
.checkbox input[type="checkbox"]:disabled + label,
.radio input[type="radio"]:disabled + label {
  color: #9a9a9a;
  opacity: 0.5;
}
.checkbox input[type="checkbox"]:disabled + label,
.radio input[type="radio"]:disabled + label {
  cursor: not-allowed;
}
.radio input[type="radio"]:disabled + label {
  color: #9a9a9a;
}
.badge {
  background-color: transparent;
  border: 1px solid;
  border-radius: 0.875rem;
  border-radius: 8px;
  font-size: 0.7142em;
  line-height: 12px;
  margin-bottom: 5px;
  padding: 4px 8px;
  text-transform: uppercase;
}
a {
  color: #378c3f;
}
a:hover,
a:focus {
  color: #378c3f;
}
h1,
.h1 {
  font-size: 3.5em;
  line-height: 1.15;
  margin-bottom: 30px;
}
h1 small,
.h1 small {
  font-weight: 700;
  opacity: 0.8;
  text-transform: uppercase;
}
h2,
.h2 {
  font-size: 2.5em;
  margin-bottom: 30px;
}
h5,
.h5 {
  font-size: 1.57em;
  line-height: 1.4em;
  margin-bottom: 15px;
}
p {
  line-height: 1.91em;
}
.title {
  font-weight: 700;
}
.title.title-up a {
  color: #2c2c2c;
  text-decoration: none;
}
.title + .category {
  margin-top: -25px;
}
.description,
.card-description,
.footer-big p {
  color: #9a9a9a;
  font-weight: 300;
}
body {
  color: var(--bs-emphasis-color);
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  overflow: scroll;
}
.bg-white:not(.navbar-transparent) a:not(.dropdown-item) {
  color: #888;
}
.bg-white:not(.navbar-transparent) a:not(.dropdown-item).disabled {
  color: #888;
  opacity: 0.5;
}
.dropdown-menu {
  border: 0;
  border-radius: 0.125rem;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  transition: all 150ms linear;
}
.dropdown-menu:before {
  border-bottom: 0.4em solid;
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
  color: #ffffff;
  content: "";
  display: inline-block;
  height: 0;
  left: 10px;
  position: absolute;
  right: auto;
  top: -5px;
  vertical-align: middle;
  width: 0;
}
.dropdown-menu .dropdown-item {
  font-size: 0.8571em;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  transition: all 150ms linear;
}
.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
  background-color: rgba(222, 222, 222, 0.3);
}
.dropdown-menu .dropdown-divider {
  background-color: rgba(222, 222, 222, 0.5);
}
.dropdown-menu .dropdown-header:not([href]):not([tabindex]) {
  color: rgba(182, 182, 182, 0.6);
  font-size: 0.7142em;
  font-weight: 700;
  text-transform: uppercase;
}
img {
  border-radius: 1px;
  max-width: 100%;
}
.nc-icon-ul > li {
  position: relative;
}
.nc-icon-ul > li > .now-ui-icons {
  left: -1.57142857em;
  position: absolute;
  text-align: center;
  top: 0.14285714em;
}
.nc-icon-ul > li > .now-ui-icons.circle {
  left: -1.9047619em;
  top: -0.19047619em;
}
.modal-content {
  color: var(--bs-emphasis-color);
  border: none;
  border-radius: 0.1875rem;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.5);
}
.modal-title {
  font-weight: bold;
}
.modal-content .modal-header {
  border-bottom: none;
  padding-bottom: 0;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
}
.modal-content .modal-header button {
  outline: 0;
  position: absolute;
  right: 27px;
  top: 30px;
}
.modal-content .modal-header .title {
  margin-bottom: 0;
  margin-top: 5px;
}
.modal-content .modal-body {
  line-height: 1.9;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
}
.modal-content .modal-footer {
  border-top: none;
  justify-content: space-between;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
}
.modal-content .modal-footer button {
  margin: 0;
  padding-left: 16px;
  padding-right: 16px;
  width: auto;
}
.modal-content .modal-footer button.pull-left {
  left: -5px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
}
.modal-content .modal-body + .modal-footer {
  padding-top: 0;
}
.modal.modal-mini p {
  text-align: center;
}
.modal.modal-mini .modal-footer button {
  text-transform: uppercase;
}
.modal.modal-mini .modal-footer button:first-child {
  opacity: 0.5;
}
.modal.modal-default .modal-content {
  background-color: #ffffff;
  color: #2c2c2c;
}
.modal.modal-default .modal-header .close {
  color: #2c2c2c;
}
.modal.modal-primary .modal-header .close {
  color: #ffffff;
}
.modal.modal-danger .modal-header .close {
  color: #ffffff;
}
.modal.modal-warning .modal-header .close {
  color: #ffffff;
}
.modal.modal-success .modal-header .close {
  color: #ffffff;
}
.modal.modal-info .modal-content {
  background-color: #2ca8ff;
  color: #ffffff;
}
.modal.modal-info .modal-header .close {
  color: #ffffff;
}
.modal .modal-header .close {
  color: #ff3636;
  text-shadow: none;
}
.modal .modal-header .close:hover,
.modal .modal-header .close:focus {
  opacity: 1;
}
.card {
  border: 0;
  border-radius: 0.1875rem;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  display: inline-block;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-color: var(--bs-border-color);
}
.card .card-body {
  min-height: 190px;
}
.index-page .page-header {
  height: 125vh;
}
.index-page .page-header .container > .content-center {
  top: 37%;
}
.index-page .page-header .category-absolute {
  color: rgba(255, 255, 255, 0.5);
  margin-top: -60px;
  padding: 0 15px;
  position: absolute;
  top: 100vh;
  width: 100%;
}
.landing-page .section-team .team .team-player img {
  max-width: 100px;
}
.profile-page .page-header {
  min-height: 550px;
}
.profile-page .profile-container {
  color: #ffffff;
}
.profile-page .photo-container {
  border-radius: 50%;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
  height: 123px;
  margin: 0 auto;
  overflow: hidden;
  width: 123px;
}
.profile-page .title {
  margin-top: 30px;
  text-align: center;
}
.profile-page .description,
.profile-page .category {
  text-align: center;
}
.profile-page h5.description {
  margin: 20px auto 75px;
  max-width: 700px;
}
.profile-page .nav-align-center {
  margin-top: 30px;
}
.profile-page .content {
  margin: 0 auto;
  max-width: 450px;
}
.profile-page .content .social-description {
  display: inline-block;
  margin: 15px 0 0px;
  max-width: 150px;
  text-align: center;
  width: 145px;
}
.profile-page .content .social-description h2 {
  margin-bottom: 15px;
}
.profile-page .button-container {
  margin-top: -96px;
  text-align: center;
}
.profile-page .collections img {
  margin-bottom: 30px;
}
.profile-page .gallery {
  margin-top: 45px;
  padding-bottom: 50px;
}
.section-full-page .footer nav > ul a:not(.btn),
.section-full-page .footer,
.section-full-page .footer .copyright a {
  color: #ffffff;
}
.login-page .link {
  color: #ffffff;
  font-size: 10px;
  text-decoration: none;
}
.section {
  padding: 70px 0;
  position: relative;
}
.section .row + .category {
  margin-top: 15px;
}
.section-nucleo-icons .nucleo-container img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: auto;
}
.section-nucleo-icons h5 {
  margin-bottom: 35px;
}
.bootstrap-collapse .dropdown.show .dropdown-menu,
.bootstrap-collapse .dropdown .dropdown-menu {
  background-color: transparent;
  border: 0;
  box-shadow: none;
  height: 150px;
  margin: 0 1rem;
  margin-bottom: 15px;
  overflow-y: scroll;
  padding-top: 0;
  transition: none;
  width: auto;
}
.bootstrap-collapse .dropdown.show .dropdown-menu:before,
.bootstrap-collapse .dropdown .dropdown-menu:before {
  display: none;
}
.bootstrap-collapse .dropdown .dropdown-item {
  padding-left: 2.5rem;
}
.bootstrap-collapse .dropdown .dropdown-menu {
  display: none;
}
.bootstrap-collapse .dropdown.show .dropdown-menu {
  display: block;
}
.bootstrap-collapse .dropdown-menu .dropdown-item:focus,
.bootstrap-collapse .dropdown-menu .dropdown-item:hover {
  color: #ffffff;
}
.gallery .cc-porfolio-image figure figcaption,
.gallery .cc-porfolio-image figure figcaption > a {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.gallery .cc-porfolio-image figure figcaption > a {
  font-size: 0;
  opacity: 0;
  text-indent: 200%;
  white-space: nowrap;
  z-index: 1000;
}
.gallery .cc-porfolio-image figure .h4,
.gallery .cc-porfolio-image figure p {
  margin: 0;
}
.gallery figcaption .container {
  bottom: 20px;
  position: absolute;
  width: 100%;
}
.gallery figure.cc-effect p,
.gallery figure.cc-effect button {
  letter-spacing: 1px;
  opacity: 0;
  padding: 0.5em 2em;
  text-transform: uppercase;
  transition: transform 0.35s;
}
.gallery figure.cc-effect img,
.gallery figure.cc-effect figcaption::before,
.gallery figure.cc-effect figcaption::after,
.gallery figure.cc-effect p {
  transition: opacity 0.35s, transform 0.35s;
}
.gallery figure.cc-effect:hover img {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.gallery figure.cc-effect:hover .h4,
.gallery figure.cc-effect:hover p,
.gallery figure.cc-effect:hover button {
  color: #fff;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.gallery figure.cc-effect:hover figcaption::after,
.gallery figure.cc-effect:hover .h4,
.gallery figure.cc-effect:hover p,
.gallery figure.cc-effect:hover img {
  transition-delay: 0.15s;
}
.cc-profile-image a {
  position: relative;
}
.cc-profile-image a:before {
  animation: pulsate 1.6s ease-out;
  border: 15px solid rgba(55, 140, 63, 0.6);
  border-radius: 50%;
  content: "";
  height: 180px;
  left: 0;
  opacity: 0;
  position: absolute;
  width: 180px;
  z-index: 99;
}
.cc-profile-image img {
  border: 15px solid transparent;
  border-radius: 50%;
  height: 180px;
  margin: 0;
  padding: 0;
  position: relative;
  transition: all 0.3s ease-out;
  width: 180px;
  z-index: 9999;
}
.cc-profile-image a:hover img {
  transform: scale(1.06, 1.06);
}
.cc-profile-image a:hover:before {
  animation: none;
}
.button-container .btn-default {
  margin-right: 8px;
}
.cc-reference .card {
  padding: 40px;
}
.cc-reference img {
  height: 120px;
  width: auto;
}
.cc-reference .h5 {
  margin: 0;
}
.cc-reference .carousel-indicators li {
  background: #a5a3a3;
}
.cc-reference .carousel-indicators .active {
  background-color: #378c3f;
}
.section {
  padding-bottom: 0;
}
.btn-primary {
  background-color: #378c3f;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.active:focus,
.btn-primary.active:hover {
  background-color: #40a249;
  color: #ffffff;
  box-shadow: none;
}
.btn-primary:hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17);
}
.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled.focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary:disabled,
.btn-primary:disabled:hover,
.btn-primary:disabled:focus,
.btn-primary:disabled.focus,
.btn-primary:disabled:active,
.btn-primary:disabled.active,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled].focus,
.btn-primary[disabled]:active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:active {
  background-color: #378c3f;
  border-color: #378c3f;
}
.btn {
  background-color: var(--bs-success);
  border: none;
  border-radius: 0.1875rem;
  border-width: 2px;
  color: #ffffff;
  cursor: pointer;
  font-size: 0.8571em;
  font-weight: 400;
  line-height: 1.35em;
  margin: 5px 1px;
  padding: 11px 22px;
}
.btn-round {
  border-radius: 30px !important;
  border-width: 1px;
  padding: 11px 23px;
}
.button-container .btn-default {
  margin-right: 8px;
}
.btn.btn-icon {
  font-size: 0.9375rem;
  height: 2.375rem;
  line-height: normal;
  min-width: 2.375rem;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 2.375rem;
}
.btn.btn-icon.btn-simple {
  padding: 0;
}
.btn.btn-icon.btn-sm {
  height: 1.875rem;
  min-width: 1.875rem;
  width: 1.875rem;
}
.btn.btn-icon.btn-sm i.fa,
.btn.btn-icon.btn-sm i.now-ui-icons {
  font-size: 0.6875rem;
}
.btn.btn-icon.btn-lg {
  height: 3.6rem;
  min-width: 3.6rem;
  width: 3.6rem;
}
.btn.btn-icon.btn-lg i.now-ui-icons,
.btn.btn-icon.btn-lg i.fa {
  font-size: 1.325rem;
}
.btn.btn-icon:not(.btn-footer) i.now-ui-icons,
.btn.btn-icon:not(.btn-footer) i.fa {
  left: 50%;
  line-height: 1.5626rem;
  position: absolute;
  top: 50%;
  transform: translate(-12px, -12px);
  width: 25px;
}
.btn:not(.btn-icon) .now-ui-icons {
  position: relative;
  top: 1px;
}
@-webkit-keyframes pulsate {
  0% {
    opacity: 0;
    transform: scale(0.6, 0.6);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1, 1);
  }
}
@keyframes pulsate {
  0% {
    opacity: 0;
    transform: scale(0.6, 0.6);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1, 1);
  }
}
.cc-profile-image a {
  position: relative;
}
.cc-profile-image a:before {
  animation: pulsate 1.6s ease-out;
  border: 15px solid rgba(55, 140, 63, 0.6);
  border-radius: 50%;
  content: "";
  height: 180px;
  left: 0;
  opacity: 0;
  position: absolute;
  width: 180px;
  z-index: 99;
}
.btn.btn-icon.btn-simple {
  padding: 0;
}
.btn.btn-icon.btn-sm {
  height: 1.875rem;
  min-width: 1.875rem;
  width: 1.875rem;
}
.btn.btn-icon.btn-sm i.fa,
.btn.btn-icon.btn-sm i.now-ui-icons {
  font-size: 0.6875rem;
}
.btn.btn-icon.btn-lg {
  height: 3.6rem;
  min-width: 3.6rem;
  width: 3.6rem;
}
.btn.btn-icon.btn-lg i.now-ui-icons,
.btn.btn-icon.btn-lg i.fa {
  font-size: 1.325rem;
}
.btn.btn-icon:not(.btn-footer) i.now-ui-icons,
.btn.btn-icon:not(.btn-footer) i.fa {
  left: 50%;
  line-height: 1.5626rem;
  position: absolute;
  top: 50%;
  transform: translate(-12px, -12px);
  width: 25px;
}
.btn.btn-link {
  color: #888;
}
.btn.btn-link:hover,
.btn.btn-link:focus,
.btn.btn-link:active {
  background-color: transparent;
  box-shadow: none;
  color: #979797;
  text-decoration: none;
}
.btn:hover,
.btn:focus {
  filter: alpha(opacity=100);
  opacity: 1;
  outline: 0 !important;
}
.btn:active,
.btn.active,
.open > .btn.dropdown-toggle {
  box-shadow: none;
  outline: 0 !important;
}
.btn.btn-icon {
  font-size: 0.9375rem;
  height: 2.375rem;
  line-height: normal;
  min-width: 2.375rem;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 2.375rem;
}
.btn.disabled,
.btn.disabled:hover,
.btn.disabled:focus,
.btn.disabled.focus,
.btn.disabled:active,
.btn.disabled.active,
.btn:disabled,
.btn:disabled:hover,
.btn:disabled:focus,
.btn:disabled.focus,
.btn:disabled:active,
.btn:disabled.active,
.btn[disabled],
.btn[disabled]:hover,
.btn[disabled]:focus,
.btn[disabled].focus,
.btn[disabled]:active,
.btn[disabled].active,
fieldset[disabled] .btn,
fieldset[disabled] .btn:hover,
fieldset[disabled] .btn:focus,
fieldset[disabled] .btn.focus,
fieldset[disabled] .btn:active,
fieldset[disabled] .btn.active {
  background-color: #888;
  border-color: #888;
}
.btn.btn-simple {
  border-color: #888;
  color: #888;
}
.btn.btn-simple:hover,
.btn.btn-simple:focus,
.btn.btn-simple:active {
  background-color: transparent;
  border-color: #979797;
  box-shadow: none;
  color: #979797;
}
.btn {
  background-color: #888;
  border: none;
  border-radius: 0.1875rem;
  border-width: 2px;
  color: #ffffff;
  cursor: pointer;
  font-size: 0.8571em;
  font-weight: 400;
  line-height: 1.35em;
  margin: 5px 1px;
  padding: 11px 22px;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus,
.btn:active:hover,
.btn.active:focus,
.btn.active:hover,
.show > .btn.dropdown-toggle,
.show > .btn.dropdown-toggle:focus,
.show > .btn.dropdown-toggle:hover {
  background-color: #979797;
  box-shadow: none;
  color: #ffffff;
}
